#lewy,#srodkowy,#prawy{
float:left;
}

#stopka{
    clear: both;
}

*{
    font-family: 'Cambria';
}

#baner,#stopka{
    background-color: #829eb9;
    color: white;
    text-align: center;
    padding: 10px;
}

#lewy,#prawy{
    background-color: #b3c6d9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
}

#srodkowy{
    background-color: #e0e9f1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}   

th,td{
    border: 1px solid dimgray;
}

td:hover{
    background-color: steelblue;
    color: white;
}

table{
    border: 1px solid dimgray;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}


img{
    width: 100%;
    border-radius: 20px;
}

span{
    vertical-align: top;
}